{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('http://yui.yahooapis.com/pure/0.6.0/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
		{% do assets.addCss('theme://css/home.css', 103) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}
	
	<script>
		less = {
			env: "development"
		};
	</script>
	
	<script src="{{url("theme://javascript/less.js-master/dist/less.js")}}">
		less.modifyVars({
			'@screenWidth': screen.width
		});
	</script>
	
	<script type="text/javascript">
		var imgLinks = {};
		{% for link in globals.social_links %}
			{% if link.enabled %}
				imgLinks["{{ loop.index0 }}"] = {};
				imgLinks["{{ loop.index0 }}"][0] = "{{ (link.icon | first).path }}";
				imgLinks["{{ loop.index0 }}"][1] = "{{ (link.mobile_icon | first).path }}";
			{% endif %}
		{% endfor %}
		
		{% if globals.house.enabled %}
			imgLinks["house"] = {};
			imgLinks["house"][0] = '{{ (globals.house.icon | first).path }}';
			imgLinks["house"][1] = '{{ (globals.house.mobile_icon | first).path }}';
		{% endif %}
		
		{% if globals.signin.enabled %}
			imgLinks["signin"] = {};
			
			{% if grav.user.username %}
				imgLinks["signin"][0] = '{{ (globals.signin.signout_icon | first).path }}';
				imgLinks["signin"][1] = '{{ (globals.signin.signout_icon | first).path }}';
			{% else %}
				imgLinks["signin"][0] = '{{ (globals.signin.icon | first).path }}';
				imgLinks["signin"][1] = '{{ (globals.signin.icon | first).path }}';
			{% endif %}
		{% endif %}
	
		var showMenu = false;
		
		menuFocus = function(e) {
			if(e) {
				e.preventDefault();
			}
			$('#nav').focus();
		}
		
		menuUnFocus = function() {
			$('body').focus();
		}
		
		onBodyClick = function() {
			$('#nav').css('left', -380);
			$('#expand-button').attr("src","{{url("theme://images/mobile-menu.png")}}");
			showMenu = false;
		}

		scrollMenu = function() {
			if(showMenu){
				$('#nav').css('left', -380);
				$('#expand-button').attr("src","{{url("theme://images/mobile-menu.png")}}");
				menuUnFocus();
				showMenu = false;
			}else{
				$('#nav').css('left', 0);
				$('#expand-button').attr("src","{{url("theme://images/mobile-menu-close.png")}}");
				menuFocus();
				showMenu = true;
			}
		}
		
		$(function() {
			
			$('#nav').mouseenter(function(e) {
				menuFocus(e);
			});
			
			$('#nav').mouseleave(function() {
				menuUnFocus();
			});
			
			$('.link').mouseenter(function(e) {
				target = $(e.target);
				id = target.attr('id');				
				index = id.replace('link-','');

				image = target.children('img');
				image.attr('src', imgLinks[index][0]); 
			});
			
			$('.link').mouseleave(function(e) {
				target = $(e.target);
				id = target.attr('id');				
				index = id.replace('link-','');

				image = target.children('img');
				image.attr('src', imgLinks[index][1]); 
			});
		})
	</script>

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }} main">
{% block header %}
    <header class="header-container">
		<img src="{{url("theme://images/mobile-menu.png")}}" id="expand-button" class="expand-nav" onclick="scrollMenu()"/>		
		<div class="header">
			<a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
				<img src="{{url("theme://images/DU-Logo.png")}}" class="du-logo" align="top"/>
				{{ config.site.title }}
			</a>
			
			<div class="media-links">
				{% for link in globals.social_links %}
					{% if link.enabled %}
						<a class="link-button" href="{{ link.url }}">
							<img src="{{(link.icon | first).path}}" class="link-icon"/>
						</a>
					{% endif %}
				{% endfor %}
				
				{% if globals.house.enabled %}
						<a class="link-button" href="{{ globals.house.url }}">
							<img src="{{(globals.house.icon | first).path}}" class="link-icon"/>
						</a>
				{% endif %}
				
				{% if globals.signin.enabled %}
					{% if grav.user.username %}
						<a class="link-button" href="{{ uri.addNonce((base_url_relative ~ uri.path)|trim('/') ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce')|e }}">
							<img src="{{ (globals.signin.signout_icon | first).path }}" class="link-icon"/>
						</a>
					{% else %}
						<a class="link-button" href="/login">
							<img src="{{ (globals.signin.icon | first).path }}" class="link-icon"/>
						</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
    </header>
{% endblock %}
<div class="center-container">
{% block header_navigation %}
	<div id="nav" class="main-nav">
		<div class="vertical-expand">
			{% include 'partials/navigation.html.twig' %}
		
			<div class="media-nav-links">
				<ul>
					{% for link in globals.social_links %}
						{% if link.enabled %}
							<a href="{{ link.url }}">
								<li class="link" id="link-{{ loop.index0 }}"><img src="{{ (link.mobile_icon | first).path }}" class="nav-icon"/>{{ link.name }}</li>
							</a>
						{% endif %}
					{% endfor %}
					
					{% if globals.house.enabled %}
							<a href="{{ globals.house.url }}">
								<li class="link" id="link-house"><img src="{{ (globals.house.mobile_icon | first).path }}" class="nav-icon"/>{{ globals.house.name }}</li>
							</a>
					{% endif %}
					
					{% if globals.signin.enabled %}
						{% if grav.user.username %}
							<a href="{{ uri.addNonce((base_url_relative ~ uri.path)|trim('/') ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce')|e }}">
								<li class="link" id="link-signin"><img src="{{ (globals.signin.signout_icon | first).path }}" class="nav-icon"/>Sign out</li>
							</a>
						{% else %}
							<a href="/login">
								<li class="link" id="link-signin"><img src="{{ (globals.signin.icon | first).path }}" class="nav-icon"/>Sign in</li>
							</a>
						{% endif %}
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}

{% block body %}
    <section class="body" id="body" onclick="onBodyClick()">
        {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}
</div>
</body>
</html>
