{% block stylesheets %}
    {% do assets.addCss('theme://css/events.css', 103) %}
{% endblock %}
{{ assets.css() }}


<div id="eventContainer">

</div>


<script type="text/javascript">
	var events = [
	{% for events in page.header.events %}
	{
		title: "{{ events.title }}",
		
		date: "{{ events.date }}",
		
		description: "{{ events.description | e('js') }}",
		
		{% set twigPic = (events.pic |first).name %}
		pic: "{{ page.media[twigPic].cropZoom(200, 125).url }}",
	},
	
	{% endfor %}
	];
	
	function displayContainer() {	
		var container = $('#eventContainer');
				
		//Refresh container.
		container.innerHTML = "";
		
		for(i=0; i<events.length; i++){	
			var eventDis = $('<div></div>');
			eventDis.addClass('eventDisplay');
			
			var pic = $('<div><img src="' + events[i].pic + '"/></div>');
			pic.addClass('eventPicture');
			
			var content = $('<div></div>');
			content.addClass('eventContent');
			
			var contentHeader = $('<div></div>');
			contentHeader.addClass('contentHeader');
			
			var eventTitle = $('<div>' + events[i].title + '</div>');
			var eventDate = $('<div>' + events[i].date + '</div>');
			
			var contentDesc = $('<div>' + splitString(events[i].description) + '</div>');
			contentDesc.addClass('contentDesc');

			contentHeader.append(eventTitle);
			contentHeader.append(eventDate);
			
			content.append(contentHeader);
			content.append(contentDesc);
			
			eventDis.append(pic);
			eventDis.append(content);
			
			container.append(eventDis);
		}
	};
	
	function splitString(str) {
		if (str.length > 150) {
			return str.substring(0,150);
		}	
		return str;
	}
	
	$(document).ready(displayContainer);
</script>
